@CHARSET "UTF-8";
body { 
	font-size: 9pt;
}
#800wrap{
	width:800px;
	margin:0 auto;
	border:1px solid red;
}
.800wrap{
	width:800px;
	margin:0 auto;
	border:1px solid red;
}
#wrap_big{
	width:1200px;
	margin:0 auto;
	border:1px solid red;
}
table {border: 2px solid lightgray; width:95%;
margin: 0px auto; margin-bottom:0px; padding:0px;}

td, th {text-align: center; padding:20px;
margin:50px auto;}
td{
	border:1px solid red;
}
caption {font-size: 30px; padding:10px; margin-bottom:20px;
caption-side:top; color:#000000; text-align:center}
h2, b{text-align: center;}
a { text-decoration: none; color:black;}
.left{text-align: left;}
.paging {text-align: center;}
input:not(.btn), textarea {
	width: 90%;
}
p {text-align: center;}
.lasttr{
	border-bottom:2px solid lightgray;
}
.none_a{
	text-decoration:none;
	color:black;
}
.btn{
	text-align:center;
	background-color:gray;
}

